
a{
     
      text-decoration: none;
      color: gray;
}

    .list {

        list-style: none;
        display: inline;
        position: fixed;
        right: 20%;
        top: 5%;
    
    

    }
   .list li{
        display: inline;
        text-align: center;
        font-size: 20px;
         padding: 5px;
         background: white;
        
        
        

    }
h2{
    color:  #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;

}
#name{
    background:  #4aaaa5;
    position: fixed;
    color: white;
    width: 250px;
    padding: 19px;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    left: 20%;
    top: 0%;
}
.main
{
    color: grey;
    background:white;
    align-content: center;
    padding: 20px;
    position: fixed;
    left: 20%;
    right: 20%;
    top: 15%;
    bottom: 5%;
    overflow: auto;


}
#profile{
    width: 300px;
    height: 300px;
}
#page{

    width: 960px;
    background:white;
}
.footer{
    background: grey;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 5px;

    
}
.topbar{

   position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    padding: 5px;
    background-color: white;
    bottom: 90%;
    border-bottom: 2px solid lightgray;

}
body{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/email-pattern.png");

}
img{

    float: left;
    margin: 10px;
    border:  .5px solid lightgrey;

}
p{
    padding: 20px;
    margin-left: 20px;
    margin-right: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}
.mainparagraph
{
border-top: 2px solid lightgrey;
margin-top: 10px;
padding: 20px;
position: relative;


}
textarea{

    position: relative;
}

ul.twocolumns {
    display: inline-block;
}

ul.twocolumns li {
    float: left;
    list-style: outside none none;
    width: 50%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.floattxt{
 position: absolute;
  text-align: center;
  background-color: #4aaaa5;
  color: white;
  bottom: -300px;
  left: 10px;
 font-size: 20px;
 padding: 20px;
 width: 260px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.list > li:not(:last-child)::after {
    content: "|";
    margin: 0 .25em;
    color: lightgray;
}
